@font-face {
   font-family: 'Jost Regular 400';
   font-display: swap;
   src: url('file:///C:/Users/mkyrath/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-05_101343/fonts/Jost%20Regular%20400/font.ttf');
}
