@font-face {
   font-family: 'Merriweather-Regular';
   font-display: swap;
   src: url('file:///C:/Users/mkyrath/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-05_101343/fonts/Merriweather-Regular/font.ttf');
}
